%main.container.mb-res-50
  %h1.general-title-margin= t('checkout.shared.general_title')
  = render 'checkout/checkout_progress', step: :payment
  %h3.general-subtitle Credit Card
  %form.max-600.mb-80
    .form-group.has-error
      %label.control-label.input-label{for: "cardNumber"} Card Number
      %input#cardNumber.form-control{type: "number", name: "cardnumber", placeholder: "Card Number"}
      %span.help-block Please enter a valid credit card number
    .row
      .col-sm-6
        .form-group
          %label.control-label.input-label{for: "cardName"} Name on Card
          %input#cardName.form-control{type: "text", name: "ccname", placeholder: "Name on Card"}
      .col-sm-3
        .form-group
          %label.control-label.input-label{for: "firstName"} MM / YY
          %input#firstName.form-control{name: "exp-date", type: "text", placeholder: "MM / YY"}
      .col-sm-3
        .form-group.relative
          %label.control-label.input-label{for: "firstName"} CVV
          %input#firstName.form-control{name: "cvc", type: "number", placeholder: "CVV"}
          %i.fa.fa-question-circle.general-form-help
  .general-text-align
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table
      = render 'checkout/order_summary_table', order: @order, shipping_amount: true
  .text-center
    %button.btn.btn-default.mb-80 Save and Continue
