%h1.general-title-margin= t('.title')
%ul.nav.clearfix.mb-20{ role: 'tablist' }
  %li.tab-item.active{ role: 'presentation' }
    = link_to t('.address'), new_address_path, class: 'address-tab tab-link'
  %li.tab-item{ role: 'presentation' }
    = link_to t('.privacy'), edit_user_registration_path, class: 'privacy-tab tab-link' 
