= form_tag(books_path, method: :get, class: 'category-dropdown') do
  =  select_tag 'category_id',
    options_from_collection_for_select(categories, 'id', 'title', params[:category_id]),
    { include_blank: 'All',
    data: { toggle: 'dropdown' },
    aria: { haspopup: 'true', expanded: 'false' },
    onchange: 'this.form.submit();',
    class: 'dropdown-toggle lead small select-tag' } 
  = hidden_field_tag :sorted_by, params[:sorted_by], id: nil
